@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: var(--scrollbar-width);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --scrollbar-width: 7px; /* Độ rộng thanh cuộn */
  --scrollbar-height: 8px; /* Độ cao thanh cuộn (cho thanh cuộn ngang) */
  --scrollbar-thumb-color: #ccc; /* Màu nền của thanh trượt */
  --scrollbar-thumb-hover-color: #aaa; /* Màu nền khi hover */
  --scrollbar-thumb-radius: 0px; /* Bo góc thanh trượt */
  --scrollbar-track-color: #f5f5f5; /* Màu nền của track */
  --scrollbar-track-radius: 0px; /* Bo góc track */
  --scrollbar-border-radius: 9999px;
}
::selection {
  color: rgb(248, 248, 248);
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
/* Thanh cuộn chính */
::-webkit-scrollbar {
  width: var(--scrollbar-width); /* Điều chỉnh độ rộng thanh cuộn */
  height: var(
    --scrollbar-height
  ); /* Điều chỉnh độ cao thanh cuộn (cho thanh cuộn ngang) */
}

/* Thanh trượt (thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color); /* Màu nền của thanh trượt */
  border-radius: var(--scrollbar-thumb-radius); /* Bo góc thanh trượt */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu mượt mà khi hover */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color); /* Màu nền khi hover */
}

/* Nền của thanh cuộn (track) */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color); /* Màu nền của track */
  border-radius: var(--scrollbar-track-radius); /* Bo góc track */
}

/* Nút cuộn (tùy chọn, thường không được sử dụng) */
::-webkit-scrollbar-button {
  display: none; /* Ẩn nút cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
.ant-table-thead .ant-table-cell {
    background-color: #0f296d !important; /* Thay đổi màu nền header */
    color: #ffffff !important; /* Thay đổi màu chữ header */
}

.anticon-filter{
     background-color: #0f296d !important; /* Thay đổi màu nền header */
    color: #ffffff !important; 
}
.ant-table-column-sorter {
   color: #ffffff !important; 
}

.ant-affix{
  z-index: 99;
}